*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #2a2a2a;
    color: white;
}
.logo{
    color:white;
}
.navbar {
    padding-left: 30px;
    padding-right: 30px;

}

.navbar .navbar-nav .nav-link{
    color:white;
}
.navbar .navbar-nav.nav-brand{
    color:white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: orange;
}
/*end navbar*/
/*first section*/
section{
 padding: 160px 15% 120px;

}
section.home{
    background-image: url(images/photo1.avif);
    background-size: cover;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;

    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.home-text{
   background-origin: none;
}
.slice{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    padding:0 10px;
    margin:10px;
    font-size: 20px;
    font-weight: 500px;
    color: white;
    background: orange;
    border-radius:5px;
}
.two{
    display: inline-block;
    font-size: 20px;
    font-weight: 500px;
    color:wheat;
}
.home-text h1{
    font-size: 3rem;
    font-weight:bold;
    color:white;
    line-height: 1.1;
}
.home-text h3{
    color: white;
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
.designer {
    color:orange
}
.home-text p{
    color: wheat;
    font-size: 1.1rem;
    line-height: 1.8;
}
/*end the first section*/

/*about me section*/
.image img{
    /* max-width: 530px;
    height: auto; */
    width: 300px;
    border-radius: 8px;
    margin-bottom: 30px;

}
.section2-text{
    margin: 20px ;

}
.section2-text h2{
    font-size:3rem;
    line-height:1;
    font-weight: bold;
    font-style: italic;
    
} 
.section2-text h4{
    font-size: 24px;
    font-weight: 600px;
    line-height: 1.7;
    margin: 15px 0 30px; 
}
.section2-text p{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 4rem;

}
.service{
    background-color: #202020;
}
.main-text{
    text-align: center;
}
.main-text p{
    color: #ccc;
    font-size: 10px;
    margin-bottom: 15px; 
}
.main-text h2{
    font-size: 3rem;
    line-height: 1;
    font-style: italic;
    font-weight: bold;
}
.service-content{
   /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , auto) );
     gap: 2.5rem;*/
    align-items: center;
    margin-top: 5rem;
}
.box{
    background-color: #2a2a2a;
    /*padding: 35px 45px;*/
    padding:20px 20px;
    border-radius: 8px;
    transition: all .45s ease;

}
.s-icons i{
    font-size: 20px;
    margin-bottom: 20px;


}
.box h3{
    font-size: 2px;
    font-weight: 600px;
    color: #ccc;
    margin-bottom: 15px;
}

.box p{
    color: #ccc;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 25px;

}
.read {
    display: inline-block;
    padding: 8px 18px;
    background-color: #333333;
    color:#ccc;
    font-size: 14px;
    font-weight: 500px;
    border-radius: 8px;
    transition: all .45s ease;
   

}
.read:hover{
    letter-spacing: 1px;
    background-color: #ffffff99;
    color: white;
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , auto) );
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;


}
.portfolio h2{
    font-size: 40px;
}
.gallery{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.gallery img{
    width: 300px;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 280px;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #ff004f);
    position: absolute;
    left:0;
    bottom: 0;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: height 0.5s;
    padding-right: 10px;
}
.layer h5{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 15px;

}
.layer p{
    color: #ccc;
    font-size: 15px;
    line-height: 1.8;

}
.layer i{
    background-color: white;
    color:#ff004f;
    font-size: 20px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.gallery:hover img{
    transition: scale;transform: scale(1.1);
}
.gallery:hover .layer{
    height: 100%;
}

.card{

    align-items: center;
    border-radius: 8px;
    transition: all .45s ease;
    width: 100%;
}
.card-text{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.contact{
    background-color: #202020;
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    align-items: center;
    gap: 2.5rem;
}
.contact-text h4{
    color: #ccc;
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;

}
.contact-text h2{
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    line-height: 1;    
}
.contact-text p{
    font-size: 1.1rem;
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 30px;
}
.list{
    margin-bottom: 2.8rem;
    list-style-type: none;
   
}
.list li{
    margin-bottom: 12px;
    text-decoration: none;

}
.list li a{
    color: #ccc;
    display: block;
    font-size: 14px;
    transform-origin: all .45s ease;
    text-decoration: none;

}
.list li a:hover{
    color: white;
    transform: translateX(5px);
}
.contact-icons i{
    height: 45px;
    width: 45px;
    background-color: orange;
    color: white;
    font-size: 15px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-radius: 8px;
    margin-right:15px;
    transition: all .45s ease;  
    margin-bottom: 10px;
}
.contact-icons i:hover{
    background-color: white;
    color: white;
}
.contact-form form {
    position: relative;
}
.contact-form, form input, form textarea{
    width: 100%;
    padding: 14px;
    background-color: #2a2a2a;
    color: white;
    border:none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 8px;
}
.contact-form ,textarea{
    resize: none;
    height: 240px;


}
.submit{
    display: inline-block;
    background-color: orange;
    color: white;
    font-size: 16px;
    width: 160px;
    transition: all .45s ease;
}
.submit:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.end{
    padding:5px 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.end p{
    color: #ccc;
    font-size: 14px;
    text-align: center;

}
